/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.center_wrap {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width: 100%;
}

.pftg_center {
  position: absolute;
  text-align: center;
  width: 100%;
  left:0;
  top: 50%;
  margin-top: -185px;
  height: 370px;
}

h1{
    text-align: center;
}

h1 span{
    font-family: 'Cabin Sketch', cursive;
    display: block;
    font-size: 72px;
    line-height: 120%;
}

h1 small{
    font-family: 'Coming Soon', cursive;
    line-height: 120%;
    display: block;
    margin-top: -8px;
}

.social{
    text-align: center;
}

.social li{
    font-size: 0;
    display: inline-block;
    margin: 0 12px;
}

.social li a{
    font-size: 14px;
    display: block;
    text-decoration: none;
    border: none;
    width: 64px;
    height: 64px;
    text-indent: -9999px;
    opacity: 0.75;
}

.social li a:hover{
  opacity: 1;
}

.social li .gh{
    background: url(../img/github.png) no-repeat;
}

.social li .fb{
    background: url(../img/facebook.png) no-repeat;
}

.social li .li{
    background: url(../img/linkedin.png) no-repeat;
}

.social li .bb{
    background: url(../img/bitbucket.png) no-repeat;
}

.social li .gp{
    background: url(../img/google.png) no-repeat;
}

.social li .tw{
    background: url(../img/twitter.png) no-repeat;
}
