/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1{
    text-align: center;
    margin-top: 240px;
}

h1 span{
    font-family: 'Cabin Sketch', cursive;
    display: block;
    font-size: 72px;
}

h1 small{
    font-family: 'Coming Soon', cursive;
    display: block;
    margin-top: 12px;
}

.social{
    text-align: center;
}

.social li{
    display: inline-block;
    margin-left: 24px;
}

.social li a{
    display: block;
    text-decoration: none;
    border: none;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
}

.social li .gh{
    background: url(../img/github.png) no-repeat;
}

.social li .fb{
    background: url(../img/facebook.png) no-repeat;
}

.social li .li{
    background: url(../img/linkedin.png) no-repeat;
}

.social li .bb{
    background: url(../img/bitbucket.png) no-repeat;
}












